.home-body {
    text-align: center;
    margin-top: 50px;
}

#login-button {
    border: 2px solid #020617;
    padding: 10px;
    width: 250px;
    font-size: 18px;
    background-color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
    margin-right: 20px;
}

#login-button:hover {
    color: #fff;
    background-color: #020617;
    cursor: pointer;
}

#signup-button {
    border: 2px solid #020617;
    padding: 10px;
    width: 250px;
    font-size: 18px;
    color: #fff;
    background-color: #334155;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
}

#signup-button:hover {
    background-color: #000000;
    cursor: pointer;
}

.home-body > h1 {
    color: #94a3b8;
    font-family: serif;
    font-size: 50px;
    margin-bottom: 0;
}

.home-body > p{
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 5px;
}

.otherwise-text {
    color: #020617;
}

@media (max-width: 520px) {
    #login-button {
        margin-bottom: 10px;
    }

    #signup-button {
        position: relative;
        right: 10px;
    }
}